/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
}

/* Apply gradient color to all text */
h1, h2, h3, p, a, label, td {
    background: linear-gradient(to right, #ffa31a 50%, #fff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Header */
header {
    background-color: #222;
    text-align: center;
    padding: 1.5em 0;
}

/* Navigation */
nav {
    background-color: #333;
    padding: 12px;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 0 20px;
}

/* Content Sections */
.container {
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    background-color: #222;
    padding: 36px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    font-size: 19px;
    border-radius: 10px;
}

/* Blog Post Box */
.post{
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Inputs and Buttons */
input, select {
    width: 100%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ffa31a;
    border-radius: 6px;
    font-size: 17px;
}

button {
    margin: 14px;
    padding: 14px 28px;
    font-size: 19px;
    cursor: pointer;
    background-color: #ffa31a;
    border: none;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #ffcc66;
}

/* Footer */
footer {
    background-color: #222;
    text-align: center;
    padding: 1.5em 0;
    width: 100%;
}
